# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
crash.log
crash.*.log

# Helm
**/charts/
**/Chart.lock
*.tgz
# Exception: committed helm chart dependencies for ArgoCD
!helm/gke-alloy-cloud/charts/
!helm/gke-alloy-cloud/charts/*.tgz
!helm/gke-alloy-cloud/Chart.lock

# OS
.DS_Store
